.contact {
    @extend .grid-center;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    margin-top: 2rem;
    padding: 2rem;
    @include mq($bpMedium) {
        width: auto;
        grid-template-columns: 1fr;
    }
    background-color: rgba(255, 255, 255, 0.281);
    &__form {
        background-color: rgb(237, 246, 245);
        display: flex;
        border-radius: 1rem;
        padding: 2rem;
        flex: 1;
        flex-direction: column;
        width: 80%;
        @include mq($bpMedium) {
            margin-bottom: 3rem;
        }
        & * {
            font-family: $primary-font;
        }
        @include mq($bpMedium) {
            width: 100%;
        }
    }
    &__input {
        border-radius: 1rem 0 1rem 0;
        appearance: none;
        border: none;
        outline: none;
        font-size: 2rem;
        padding: 1rem;
        color: darksalmon;
        transition: all 1s ease-out;
        border-bottom: 2px solid transparent;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        &::placeholder {
            color: rgb(95, 89, 81);
        }
        &:placeholder-shown {
            border-bottom: 2px solid rgba(120, 8, 248, 0.329);
        }
        &:focus {
            border-bottom: 2px solid rgb(7, 246, 7);
            border-radius: 0 1rem 0 1rem;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        &-title {
            font-size: 2.4rem;
            margin-bottom: 3rem;
            color: #3E3E40;
            text-transform: uppercase;
        }
        strong {
            font-size: 2.5rem;
            color: $grey;
        }
    }
    &__link {
        font-style: italic;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        color: #657062;
        font-weight: 700;
        &:hover {
            color: rgb(35, 55, 112);
        }
    }
}

.message {
    height: 20rem;
}

.alert {
    padding: 1rem;
    background-color: rgb(17, 119, 17);
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $white;
    display: none;
    i {
        color: inherit;
        margin-right: .5rem;
    }
}