h1,
h2,
h3,
h4 {
    font-family: $secondary-font;
}

.main-title {
    color: $grey-purple;
    font-size: 3.5rem;
    font-weight: 900;
}

.secondary-title {
    font-size: 3rem;
    font-weight: 700;
    color: $purple;
    margin-bottom: 2rem;
}

.tertiary-title {
    font-size: 2rem;
    font-weight: 700;
    color: $grey;
    margin-bottom: 2rem;
}

.body-text-1 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $grey-2;
    line-height: 1.5;
}