.d-flex {
    display: flex;
}

.w-80 {
    width: 80%;
}

.transition-3 {
    transition: all .3s ease-in;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

.grid-center {
    @extend .d-grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0 2rem;
    @include mq($bpMedium) {
        grid-template-columns: 1fr;
    }
}

.center-picture {
    display: block;
    margin: 0 auto;
}

.grid-long {
    grid-column: 1/-1;
}

.center-text {
    text-align: center;
}

.center-margin {
    margin: auto;
}

.grid-w-100 {
    grid-column: 1/-1;
}

.b-radius-1 {
    border-radius: 1rem;
}

.btn {
    border: none;
    outline: none;
    appearance: none;
    border-radius: 5rem;
    width: 20rem;
    max-width: 20rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    color: $white;
    @extend.center-text;
    @extend .transition-3;
    &:active {
        transform: translateY(.1rem);
    }
    &__container {
        justify-content: center;
        margin-top: 3rem;
        @include mq($bpMedium) {
            flex-direction: column;
        }
    }
    &__primary {
        background-color: rgb(226, 222, 222);
        color: $grey;
        margin: 0 2.5rem;
        &:hover {
            background-color: darken($white, 35%);
            color: $white;
        }
    }
    &__secondary {
        background-color: #1a6db1;
        margin: 0 2.5rem;
        &:hover {
            background-color: darken(#1a6db1, 15%);
        }
    }
    @include mq($bpMedium) {
        margin: 0 auto;
        margin-bottom: 2rem;
        display: block;
        width: 80%;
        max-width: 80%;
        padding: 2rem;
    }
}

.tag {
    display: block;
    padding: .6rem;
    background-color: #08828e;
    color: $white;
    @extend .b-radius-1;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 15rem;
    @extend .center-text;
    @include mq($bpMedium) {
        margin: 1rem auto;
    }
}

.accordion {
    &-header {
        width: 100%;
        position: relative;
        align-items: center;
        // plus symbol
        &::after {
            content: '\002B';
            font-size: 3rem;
            position: absolute;
            right: 0;
            //active status on clik
        }
        &.active::after {
            content: '\2212';
        }
        @include mq($bpSmall) {
            display: grid;
            &::after {
                content: '\002B';
                font-size: 4rem;
                right: 0;
                top: -1rem;
                //active status on clik
            }
        }
    }
    &-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in;
    }
}