*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: rgba(95, 107, 218, 0.4);
  color: #fff;
}

::selection {
  background-color: rgba(95, 107, 218, 0.4);
  color: #fff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 106.25em) {
  html {
    font-size: 80%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow", sans-serif;
}

.main-title {
  color: #5d5c6d;
  font-size: 3.5rem;
  font-weight: 900;
}

@media only screen and (max-width: 81.25em) {
  .main-title {
    font-size: 3rem;
    text-align: left;
  }
}

@media only screen and (max-width: 60em) {
  .main-title {
    font-size: 3rem;
  }
}

.secondary-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ABABFF;
  margin: 2rem 0;
}

.tertiary-title {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60em) {
  .tertiary-title {
    margin: 2rem 0;
  }
}

.body-text-1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.5;
}

@media only screen and (max-width: 81.25em) {
  .body-text-1 {
    text-align: left;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transition-3, .btn {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.flex-wrap, .navbar__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-grid, .grid-center, .header, .about, .education, .services, .contact, .education__item {
  display: -ms-grid;
  display: grid;
}

.grid-center, .header, .about, .education, .services, .contact {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 0 2rem;
}

@media only screen and (max-width: 60em) {
  .grid-center, .header, .about, .education, .services, .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.center-picture {
  display: block;
  margin: 0 auto;
}

.grid-long {
  grid-column: 1/-1;
}

.center-text, .btn, .tag, .navbar__logo {
  text-align: center;
}

.center-margin {
  margin: auto;
}

.grid-w-100 {
  grid-column: 1/-1;
}

.b-radius-1, .tag, .education__item, .services__item {
  border-radius: 1rem;
}

.btn {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5rem;
  width: 20rem;
  max-width: 20rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.btn__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 60em) {
  .btn__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn__primary {
  background-color: #e2dede;
  color: #555;
  margin: 0 2.5rem;
}

.btn__primary:hover {
  background-color: #a6a6a6;
  color: #fff;
}

.btn__secondary {
  background-color: #1a6db1;
  margin: 0 2.5rem;
}

.btn__secondary:hover {
  background-color: #10446e;
}

@media only screen and (max-width: 60em) {
  .btn {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: block;
    width: 80%;
    max-width: 80%;
    padding: 2rem;
  }
}

.tag {
  display: block;
  padding: .6rem;
  background-color: #08828e;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 15rem;
}

@media only screen and (max-width: 60em) {
  .tag {
    margin: 1rem auto;
  }
}

.accordion-header {
  width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-header::after {
  content: '\002B';
  font-size: 3rem;
  position: absolute;
  right: 0;
}

.accordion-header.active::after {
  content: '\2212';
}

@media only screen and (max-width: 30em) {
  .accordion-header {
    display: -ms-grid;
    display: grid;
  }
  .accordion-header::after {
    content: '\002B';
    font-size: 4rem;
    right: 0;
    top: -1rem;
  }
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s ease-in;
  transition: max-height .3s ease-in;
}

.navbar {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  width: 100%;
  position: fixed;
  z-index: 100000;
  color: #555;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 2px #ccbacc;
          box-shadow: 0px 0px 6px 2px #ccbacc;
}

@media only screen and (max-width: 60em) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.navbar__logo {
  font-size: 2.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media only screen and (max-width: 60em) {
  .navbar__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-column-align: start;
        justify-self: start;
    padding-left: 1rem;
  }
}

.navbar__list {
  grid-column: 7/-1;
  font-size: 2.2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media only screen and (max-width: 60em) {
  .navbar__list {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    position: absolute;
    width: 100%;
    z-index: 100;
    display: block;
    background-color: rgba(0, 0, 0, 0.692);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 60em) {
  .navbar__link:hover {
    color: #19d1d1;
  }
}

@media only screen and (max-width: 60em) {
  .navbar__link:active {
    color: #19d1d1;
  }
}

.header {
  min-height: 100vh;
  padding-top: 10vh;
}

@media only screen and (max-width: 81.25em) {
  .header {
    padding-top: 10vh;
    min-height: auto;
    height: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 30em) {
  .header {
    padding-top: 13rem;
  }
}

.header__content {
  padding: 2rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.header__content h1 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60em) {
  .header__content {
    padding: 0;
  }
}

.header__picture {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media only screen and (max-width: 60em) {
  .header__picture {
    grid-column: auto;
  }
}

.burger-menu {
  display: none;
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 3rem;
  height: 2.1rem;
  width: 2.8rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.burger-menu__btn, .burger-menu__btn::before, .burger-menu__btn::after {
  position: absolute;
  width: 2.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 3px;
  background: #555;
}

.burger-menu__btn::before, .burger-menu__btn::after {
  content: '';
}

.burger-menu__btn {
  right: 0;
  top: 0.5rem;
}

.burger-menu__btn::before {
  top: -8px;
  height: 3px;
}

.burger-menu__btn::after {
  top: 8px;
  width: 2rem;
}

@media only screen and (max-width: 60em) {
  .burger-menu {
    display: block;
  }
}

.show-sidebar {
  -webkit-transform: translateY(calc(50% - 3rem));
          transform: translateY(calc(50% - 3rem));
}

.about {
  margin: 3rem 0;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 60em) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about__content {
  padding: 0 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__text {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.about__photo {
  overflow: hidden;
  border-radius: 10rem;
  max-width: 30rem;
  max-height: 20rem;
}

.education {
  padding: 2rem 2rem 4rem 2rem;
  margin: 3rem 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 2rem;
  background-color: #fefeff;
}

@media only screen and (max-width: 60em) {
  .education {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.education__item {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #fff;
  width: 85%;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(31, 45, 61, 0.125);
          box-shadow: 0 0 0.5rem rgba(31, 45, 61, 0.125);
  margin: 0;
  grid-gap: 1rem;
}

@media only screen and (max-width: 60em) {
  .education__item {
    width: auto;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.education__item-title {
  font-size: 2rem;
  color: #374242;
  position: relative;
}

.education__date {
  font-size: 1.4rem;
  font-weight: 700;
  color: #19d1d1;
}

.education__info {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.education__icon {
  width: 6rem;
  height: 6rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-right: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 30em) {
  .education__icon {
    margin: 0 auto;
  }
}

.services {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

@media only screen and (max-width: 60em) {
  .services {
    width: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.services__item {
  background-color: #fff;
  padding: 1.5rem;
  -webkit-box-shadow: 0 -0.1rem 0.5rem rgba(31, 45, 61, 0.25);
          box-shadow: 0 -0.1rem 0.5rem rgba(31, 45, 61, 0.25);
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.services__title {
  font-size: 2rem;
  color: #3c3341;
  font-weight: 700;
  margin: 2rem 0;
}

.services__body-text {
  font-size: 1.6rem;
  line-height: 2;
}

.services__icon {
  width: 6rem;
}

.contact {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 2rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.281);
}

@media only screen and (max-width: 60em) {
  .contact {
    width: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact__form {
  background-color: #edf6f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

@media only screen and (max-width: 60em) {
  .contact__form {
    margin-bottom: 3rem;
  }
}

.contact__form * {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 60em) {
  .contact__form {
    width: 100%;
  }
}

.contact__input {
  border-radius: 1rem 0 1rem 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 1rem;
  color: darksalmon;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-bottom: 2px solid transparent;
}

.contact__input:not(:last-child) {
  margin-bottom: 2rem;
}

.contact__input::-webkit-input-placeholder {
  color: #5f5951;
}

.contact__input:-ms-input-placeholder {
  color: #5f5951;
}

.contact__input::-ms-input-placeholder {
  color: #5f5951;
}

.contact__input::placeholder {
  color: #5f5951;
}

.contact__input:placeholder-shown {
  border-bottom: 2px solid rgba(120, 8, 248, 0.329);
}

.contact__input:focus {
  border-bottom: 2px solid #07f607;
  border-radius: 0 1rem 0 1rem;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__info-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  color: #3E3E40;
  text-transform: uppercase;
}

.contact__info strong {
  font-size: 2.5rem;
  color: #555;
}

.contact__link {
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #657062;
  font-weight: 700;
}

.contact__link:hover {
  color: #233770;
}

.message {
  height: 20rem;
}

.alert {
  padding: 1rem;
  background-color: #117711;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #fff;
  display: none;
}

.alert i {
  color: inherit;
  margin-right: .5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
  color: #555;
}
/*# sourceMappingURL=main.css.map */